 <div class="brand-wrapper">
                <p class="h3">MyHealth</p>
                <p class="font-weight-bold h1">Ask a Question:</p>
                <br>
  </div>
<section>
  <form class="new-post-form">
     <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
       <div>
      <label for="post-content">Question:</label>
      <br>
      <br>
      <input class="form-control" name="post-content" placeholder="insert your question here"/>
    </div>
    <br>
    <br>
    <button type="submit" class="button btn btn-block login-btn mb-4 is-pulled-right" id='post-submit'>Post</button>
    <br>
    <button type="submit" class="button btn btn-block login-btn mb-4 is-pulled-right" id='dashboard'>Home</button>
    <br>
  </form>
  <br>
</section>

  <h2>Your Posts</h2>
  {{#if posts.length}}
  <section>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
  </section>
  {{/if}}
         
<script src="/javascript/add-post.js"></script>
<script src="/javascript/patient-dashboard.js"></script>