 
 
 <div class="brand-wrapper">
                <p class="font-weight-bold h2">MyHealth</p>
                  </div>
                   <p class="login-card-description">Sign into your account</p>
                   <form action="#!">
                      <div>
                  <label for="user">Sign up as:</label>
                  <select class="form-control" id='account_type' aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="patient">Patient</option>
                    <option value="provider">Provider</option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
                </form>

                <p class="login-card-footer-text">Don't have an account? <a href="/signup" class="text-reset">Register here</a></p>
            </div>

            <script src="/javascript/login.js"></script>