 <div class="brand-wrapper">
                <p class="h3">MyHealth</p>
                <p class="font-weight-bold h1">Patient Dashboard</p>
              </div>
              
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Veronica</th>
                  </tr>
                  <tr>
                    <th scope="col">Last Name</th>
                    <th scope="col">Armenta</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <th scope="row">DOB</th>
                    <td>12/05/1945</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>123 Street Los Angeles, CA 00000</td>
                  </tr>
                  <tr>
                    <th scope="row">Diagnosis</th>
                    <td>CKD Stage 3</td>
                  </tr>
                  <tr>
                  <th scope="row">Weight</th>
                  <td>120lb</td>
                </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td>5'7''</td>
                  </tr>
                  <tr>
                    <th scope="row">Provider ID</th>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
               <div>
            <input name="submit" id="logout" class="btn btn-block float-left login-btn mb-4" type="submit" value="Log out">
          </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>