 <div class="brand-wrapper">
                <p class="h3">MyHealth</p>
                <p class="font-weight-bold h1">Ask a Question:</p>
                <br>
              </div>
<section>
  <form class="new-post-form">
       <div>
      <label for="post-content">Question:</label>
      <br>
      <br>
      <input class="form-control" id="post-content" name="post-content" placeholder="insert your question here"/>
    </div>
    <br>
    <br>
    <button type="submit" class="button btn btn-block login-btn mb-4 is-pulled-right">Post</button>
  </form>
  <br>
</section>
          </div>
          </div>
        </div>
        
      </div>
    </div>
<script src="/javascript/add-post.js"></script>