<div class="brand-wrapper">
    
                <p class="h3">MyHealth</p>
                <p class="font-weight-bold h1">Provider Dashboard</p>
              </div>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Liz</th>
                  </tr>
                  <tr>
                    <th scope="col">Last Name</th>
                    <th scope="col">Arias</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <th scope="row">Type</th>
                    <td>Nurse</td>
                  </tr>
                  <tr>
                    <th scope="row">License #</th>
                    <td>00000</td>
                  </tr>
                  <tr>
                    <th scope="row">Provider ID</th>
                    <td>2</td>
                  </tr>
                </tbody>
              </table>
               <p class="font-weight-bold h2">Select Patient:</p>
               <select class="form-select form-select-lg mb-9" aria-label=".form-select-lg example">
                <option selected>Open to select Patient</option>
                <option value="1">Andersen, James</option>
                <option value="2">Gonzalez, Maria</option>
                <option value="3">Hong, Dana</option>
              </select>
              </div>
            </div>
          </div>
        </div>
        </div>